* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

body {
  background: #797979;
}

