*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Nunito, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}
h1{
    text-align: center;
    margin: 20px 0;
}
p{
    font-weight: bold;
    margin:5px;
}